<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>273002303620-opqhfdh1ji8d2024a7m08908tiuhh68c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273002303620-opqhfdh1ji8d2024a7m08908tiuhh68c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>273002303620-76a3lejp56ojj2qc4pr6anvn1vff9k0d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFZ60EWGCO_snuXHD2kzyPl2ARffp1Wgk</string>
	<key>GCM_SENDER_ID</key>
	<string>273002303620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.eresdel.darkhan</string>
	<key>PROJECT_ID</key>
	<string>esos-351811</string>
	<key>STORAGE_BUCKET</key>
	<string>esos-351811.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273002303620:ios:8c497807a789222ce4b2d1</string>
</dict>
</plist>