<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>601995328608-jdmemjg1k9idbmi3f0d4u2ts24oibamu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.601995328608-jdmemjg1k9idbmi3f0d4u2ts24oibamu</string>
	<key>API_KEY</key>
	<string>AIzaSyA7EMLebT_Vdqt3QDkp8jXR8WA-6GWaWFk</string>
	<key>GCM_SENDER_ID</key>
	<string>601995328608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sos</string>
	<key>PROJECT_ID</key>
	<string>sos-project-d0698</string>
	<key>STORAGE_BUCKET</key>
	<string>sos-project-d0698.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:601995328608:ios:1f9ddb40524407e3e6d705</string>
</dict>
</plist>